<h1>Play poker!</h1>

<% 
#could do die1 = [1,2,3,4,5,6].sample, sample makes it random
number1 = [2,3,4,5,6,7,8,9,10,"jack", "queen", "king", "ace"].sample
suit1 = ["hearts", "spades","diamonds", "clubs"].sample
%>

<% 
#could do die1 = [1,2,3,4,5,6].sample, sample makes it random
number2 = [2,3,4,5,6,7,8,9,10,"jack", "queen", "king", "ace"].sample
suit2 = ["hearts", "spades","diamonds", "clubs"].sample
%>

<% 
#could do die1 = [1,2,3,4,5,6].sample, sample makes it random
number3 = [2,3,4,5,6,7,8,9,10,"jack", "queen", "king", "ace"].sample
suit3 = ["hearts", "spades","diamonds", "clubs"].sample
%>

<% 
#could do die1 = [1,2,3,4,5,6].sample, sample makes it random
number4 = [2,3,4,5,6,7,8,9,10,"jack", "queen", "king", "ace"].sample
suit4 = ["hearts", "spades","diamonds", "clubs"].sample
%>

<% 
#could do die1 = [1,2,3,4,5,6].sample, sample makes it random
number5 = [2,3,4,5,6,7,8,9,10,"jack", "queen", "king", "ace"].sample
suit5 = ["hearts", "spades","diamonds", "clubs"].sample
%>


<img src="http://golearntocode.com/images/cards/<%=number1%>_of_<%=suit1%>.png">
<img src="http://golearntocode.com/images/cards/<%=number2%>_of_<%=suit2%>.png">
<img src="http://golearntocode.com/images/cards/<%=number3%>_of_<%=suit3%>.png">
<img src="http://golearntocode.com/images/cards/<%=number4%>_of_<%=suit4%>.png">
<img src="http://golearntocode.com/images/cards/<%=number5%>_of_<%=suit5%>.png">
%>
</p>